* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

body {
    color: white;
    background-color: #333;
    line-height: 1.6;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;

    overflow-y: scroll ;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html {
    font-size: 62.5%;
}

.navbar {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;


}

.nav-flex {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    padding: 1rem;
    margin: 0 2rem;

}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    transition: .3s;


}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

section div span {
  line-height: 8rem;
  width: 8rem;
  border-radius: 50%;
  font-size: 5rem;
  background-color: #0b7285;
  display: inline-block;
  text-align: center;
}

.navbar ul li a:hover {
    color: skyblue;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

.left-side h1 {
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.left-side h2 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.left-side div {
  justify-content: center;
  align-items: center;
  align-content: center;
}

section p {
  font-size: 3rem;
  justify-self: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
  overflow: hidden;
}
.side {
  padding: 0 4rem;
}





.mid {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 5fr;
  padding: 2em;

  



}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 5rem;
  gap: .5rem;
  height: 100%;

}

.topics-grid div {
  background-color: #0b7285;
  padding: 2rem;
}

.topics-grid div a {
  width: 100%;
  width: 100%;

}

.topics-grid div a {
  text-decoration: none;
  color: #fff;

}

.topics-grid div a p {
  font-size: 2rem;
  line-height: 1.4;

}

.topics-grid div a h4 {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.2;
}



/* .topics-grid a{
  padding: 5vmin;
  background-color: #0b7285;
  font-size: 2rem;
  text-decoration: none;
  height: 8rem;
  color: white;
  display: block;
  height: 100%;
} */

.topics-grid a span {
  font-size: .5rem;
}

.mid div {
  background-color: #212529;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 9px;
  display: flex;

}

.mid h4 {
  font-size: 3.5em;
  text-transform: uppercase;
  display: inline-block;
  justify-self: center;
  
}






.left-side {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

/* .right-side {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  align-content: space-around;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
  width: 100%;

} */

.photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  max-height: 100%;
  max-width: 100%;
  grid-auto-rows: minmax(auto 400px);
  
}

.photo-container div img {
  object-fit: cover;
}

.photo-container div {
  display: flex;
}



.mid {
  overflow: hidden;
}

.photo-container img {
  max-width: 100%;
  max-height: 100%;
}




/* #firstpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

} */


@media screen and (max-width: 1600px) {

  .side {
    padding: 0 2rem;
  }

  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1300px) {

  .topics-grid div a h4 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
