* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #343a40;
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

.explaining {
  display: grid;
  max-width: 1600px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 2.5rem;
}

.exp {
  display: grid;
  padding: 2rem 1rem;
}
.exp * {
  background-color: #495057;
}

.numbers {
  line-height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: whitesmoke;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  font-size: x-large;
  margin-bottom: 2rem;
}

a {
  transition-duration: 0.25s;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 10vw;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-bottom: 8rem;
  max-width: 1600px;
  margin: 5rem auto;
}
.nav a {
  font-size: 2.5rem;
  text-decoration: none;
  display: inline-block;
  background-color: #087f5b;
  padding: 2rem 1rem;
  color: #fff;
  line-height: 1.2;
  align-items: center;
  border-radius: 9px;
  min-height: 120px;
  margin: auto 0;
}
.myphoto {
  border-radius: 50%;
  margin: 20px 5px;
  height: 120px;
  scale: 130%;
  margin-right: 3rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  margin-bottom: 2rem;
  min-width: 95vw;
  min-height: 100vh;
  margin: auto;
}
.navbar * {
  background-color: #212529;
}

.nav a:nth-child(even) {
  background-color: #0b7285;
}

@media screen and (max-width: 1600px) {
  .nav a {
    font-size: 2rem;
  }
  .exp p {
    font-size: 2rem;
  }
  .nav {
    margin: 5rem 2rem;
  }
  .explaining {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    margin: 0 2vw;
  }
  .nav {
    grid-template-columns: repeat(2, 1fr);
  }
  .explaining {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .nav {
    grid-template-columns: repeat(1, 1fr);
  }

  .explaining {
    grid-template-columns: repeat(1, 1fr);
  }
}

p {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
